<div class="container">
    <header>
        <img src={{#if ava}} {{ava}} {{else}} "/img/ava.jpg" {{/if}} alt="ava" class="ava" id="ava">
        <p class="login" id="login">{{login}}</p>
    </header>
    <main class="main" id="main">
        
    </main>
</div>