:root {
    --n: 10;
    --m: 10;
}

.container {
    border: 1px solid black;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container1 {
    margin: 0 auto;
    border: 1px solid black;
    max-width: 1500px;
}

.ava {
    width: 50px;
    border-radius: 100%;
}
.gameContainer{
    display: flex;
    justify-content: space-between;
}
.gameField {
    margin: 0 auto;
    width: calc(var(--n)*50px);
    height: calc((var(--m)*50px));
    display: grid;
    grid-template-columns: repeat(var(--n), 50px);
    grid-template-rows: repeat(var(--m), 50px);
}

.gameField>div {
    border: 1px solid black;
}

.panel{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ship {
    display: flex;
    transition: 0.2s;
    /* min-width: 50px; */
}

.ship>div {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background-color: green;
}

.selectedElement{
    transform: scale(1.5);
    transition: 0.2s;
}